<a href="https://colab.research.google.com/github/phuongabu141/DoAnDS102.L21/blob/main/DoAn_DS102_L21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#THƯ VIỆN CẦN DÙNG

In [35]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

#TIỀN XỬ LÍ DỮ LIỆU

In [3]:
dataset_train = pd.read_csv("/content/train_u6lujuX_CVtuZ9i.csv")
dataset_test = pd.read_csv("/content/test_Y3wMUE5_7gLdaTN.csv")
dataset_test

      Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0    LP001015   Male     Yes  ...            360.0            1.0         Urban
1    LP001022   Male     Yes  ...            360.0            1.0         Urban
2    LP001031   Male     Yes  ...            360.0            1.0         Urban
3    LP001035   Male     Yes  ...            360.0            NaN         Urban
4    LP001051   Male      No  ...            360.0            1.0         Urban
..        ...    ...     ...  ...              ...            ...           ...
362  LP002971   Male     Yes  ...            360.0            1.0         Urban
363  LP002975   Male     Yes  ...            360.0            1.0         Urban
364  LP002980   Male      No  ...            360.0            NaN     Semiurban
365  LP002986   Male     Yes  ...            360.0            1.0         Rural
366  LP002989   Male      No  ...            180.0            1.0         Rural

[367 rows x 12 columns]

In [13]:
dataset_train

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [4]:
# lay data tuw thuoc tinh 2->9( cot 2->9)
dataset_train = dataset_train.iloc[:,2:9]
dataset_test = dataset_test.iloc[:,2:9]
dataset_test

    Married Dependents  ... CoapplicantIncome LoanAmount
0       Yes          0  ...                 0      110.0
1       Yes          1  ...              1500      126.0
2       Yes          2  ...              1800      208.0
3       Yes          2  ...              2546      100.0
4        No          0  ...                 0       78.0
..      ...        ...  ...               ...        ...
362     Yes         3+  ...              1777      113.0
363     Yes          0  ...               709      115.0
364      No          0  ...              1993      126.0
365     Yes          0  ...              2393      158.0
366      No          0  ...                 0       98.0

[367 rows x 7 columns]

In [5]:
# xoa thuoc tinh khong can thiet (xoa cot 4,5)
dataset_train = dataset_train.drop(dataset_train.columns[[4,5]], axis=1)
dataset_test = dataset_test.drop(dataset_test.columns[[4,5]], axis=1)

In [6]:
dataset_test

    Married Dependents     Education Self_Employed  LoanAmount
0       Yes          0      Graduate            No       110.0
1       Yes          1      Graduate            No       126.0
2       Yes          2      Graduate            No       208.0
3       Yes          2      Graduate            No       100.0
4        No          0  Not Graduate            No        78.0
..      ...        ...           ...           ...         ...
362     Yes         3+  Not Graduate           Yes       113.0
363     Yes          0      Graduate            No       115.0
364      No          0      Graduate            No       126.0
365     Yes          0      Graduate            No       158.0
366      No          0      Graduate           Yes        98.0

[367 rows x 5 columns]

In [7]:
dataset_train['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [8]:
dataset_train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [9]:
dataset_train['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [10]:
dataset_train['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [11]:
dataset_train['LoanAmount'].value_counts()

120.0    20
110.0    17
100.0    15
187.0    12
160.0    12
         ..
570.0     1
300.0     1
376.0     1
117.0     1
311.0     1
Name: LoanAmount, Length: 203, dtype: int64

In [12]:
#dien vao o trong thuoc tinh Married la: yes
dataset_train['Married']=dataset_train['Married'].fillna("Yes")
dataset_test['Married'] = dataset_test['Married'].fillna("Yes")

In [13]:
dataset_train['Married'].value_counts()

Yes    401
No     213
Name: Married, dtype: int64

In [14]:
#dien vao o trong thuoc tinh Dependents la: 0
dataset_train['Dependents']=dataset_train['Dependents'].fillna(0)
dataset_test['Dependents']=dataset_test['Dependents'].fillna(0)

In [15]:
dataset_train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
0      15
Name: Dependents, dtype: int64

In [16]:
dataset_train['Self_Employed']=dataset_train['Self_Employed'].fillna("No")
dataset_test['Self_Employed']=dataset_test['Self_Employed'].fillna("No")

In [17]:
dataset_train['LoanAmount']=dataset_train['LoanAmount'].fillna(120)
dataset_test['LoanAmount']=dataset_test['LoanAmount'].fillna(120)

In [18]:
#loai bo missing data
dataset_train=dataset_train.dropna(how='any',axis=0)

In [34]:
dataset_train.head()

  Married Dependents     Education Self_Employed  LoanAmount
0      No          0      Graduate            No       120.0
1     Yes          1      Graduate            No       128.0
2     Yes          0      Graduate           Yes        66.0
3     Yes          0  Not Graduate            No       120.0
4      No          0      Graduate            No       141.0

In [19]:
def add_label(X): 
  for i in range(len(X)):
    print(i)
    if X[i] < 150:
      X[i] = 0
    elif X[i] < 300:
      X[i] = 1
    else:
      X[i] = 2

In [20]:
add_label(dataset_train.LoanAmount)
add_label(dataset_test.LoanAmount)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366

In [21]:
le = LabelEncoder()
dataset_train['Married'] = le.fit_transform(dataset_train['Married'].astype(str))     
dataset_train['Self_Employed'] = le.fit_transform(dataset_train['Self_Employed'].astype(str))  
dataset_train['Dependents'] = le.fit_transform(dataset_train['Dependents'].astype(str))  
dataset_test['Married'] = le.fit_transform(dataset_test['Married'].astype(str))     
dataset_test['Self_Employed'] = le.fit_transform(dataset_test['Self_Employed'].astype(str))  
dataset_test['Dependents'] = le.fit_transform(dataset_test['Dependents'].astype(str))

In [22]:

X_train = dataset_train.iloc[:,0:-1]
Y_train = dataset_train.iloc[:,-1]
X_test = dataset_test.iloc[:,0:-1]
Y_test = dataset_test.iloc[:,-1]

In [23]:
X_train

     Married  Dependents     Education  Self_Employed
0          0           0      Graduate              0
1          1           1      Graduate              0
2          1           0      Graduate              1
3          1           0  Not Graduate              0
4          0           0      Graduate              0
..       ...         ...           ...            ...
609        0           0      Graduate              0
610        1           3      Graduate              0
611        1           1      Graduate              0
612        1           2      Graduate              0
613        0           0      Graduate              1

[614 rows x 4 columns]

In [24]:

ohe = ColumnTransformer([("one_hot_encoder", OneHotEncoder(), [2])], remainder = 'passthrough')
X_train = ohe.fit_transform(X_train)
X_test = ohe.fit_transform(X_test)

In [25]:

SC = StandardScaler(with_mean=False)
X_train = SC.fit_transform(X_train)
X_test =  SC.fit_transform(X_test)

In [26]:
X_train

array([[2.42100314, 0.        , 0.        , 0.        , 0.        ],
       [2.42100314, 0.        , 2.10090485, 0.99127589, 0.        ],
       [2.42100314, 0.        , 2.10090485, 0.        , 2.93971771],
       ...,
       [2.42100314, 0.        , 2.10090485, 0.99127589, 0.        ],
       [2.42100314, 0.        , 2.10090485, 1.98255178, 0.        ],
       [2.42100314, 0.        , 0.        , 0.        , 2.93971771]])

In [27]:
X_test

array([[2.38030826, 0.        , 2.07699621, 0.        , 0.        ],
       [2.38030826, 0.        , 2.07699621, 0.94009281, 0.        ],
       [2.38030826, 0.        , 2.07699621, 1.88018562, 0.        ],
       ...,
       [2.38030826, 0.        , 0.        , 0.        , 0.        ],
       [2.38030826, 0.        , 2.07699621, 0.        , 0.        ],
       [2.38030826, 0.        , 0.        , 0.        , 3.32130097]])

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X_train=LabelEncoder()

In [ ]:
for i in range(0,1):
  X_train[:,i]=labelencoder_X_train.fit_transform(X_train[:,i])
  X_train[:,2]=labelencoder_X_train.fit_transform(X_train[:,2])

In [ ]:
X_train

array([[0, '0', 0, 'No'],
       [1, '1', 0, 'No'],
       [1, '0', 0, 'Yes'],
       ...,
       [1, '1', 0, 'No'],
       [1, '2', 0, 'No'],
       [0, '0', 0, 'Yes']], dtype=object)

In [ ]:

def add_label(X): 
  for i in range(len(X)):
    print(i)
    if X[i] < 150:
      X[i] = 0
    elif X[i] < 300:
      X[i] = 1
    else:
      X[i] = 2

In [ ]:
add_label(dataset_train.LoanAmount)
add_label(dataset_test.LoanAmount)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366

#NAIVE BAYES

In [29]:
classifier = GaussianNB()
classifier.fit(X_train,Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [31]:
from sklearn.metrics import confusion_matrix
train_scores = cross_val_score(classifier, X_train, Y_train, scoring='accuracy', cv = 10)
test_scores = cross_val_score(classifier, X_test, Y_test, scoring='accuracy', cv = 10)
print(train_scores.mean())
print(test_scores.mean())
cm=confusion_matrix(Y_train,classifier.predict(X_train))
print(cm)

0.22964040190375462
0.23671171171171174
[[111   0 296]
 [ 23   0 154]
 [  0   0  30]]

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

# LOGISTICREGRESSION

In [36]:
classifier=LogisticRegression(random_state=0)
classifier.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:

train_scores = cross_val_score(classifier, X_train, Y_train, scoring='accuracy', cv = 10)
test_scores = cross_val_score(classifier, X_test, Y_test, scoring='accuracy', cv = 10)
print(train_scores.mean())
print(test_scores.mean())
cm=confusion_matrix(Y_train,classifier.predict(X_train))
print(cm)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

0.6710735060814383
0.7003753753753754
[[390  17   0]
 [155  22   0]
 [ 25   5   0]]

#RANDOM FOREST CLASSIFICATION

In [44]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=3,criterion='entropy',random_state=0)
classifier.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=3,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [45]:
train_scores = cross_val_score(classifier, X_train, Y_train, scoring='accuracy', cv = 10)
test_scores = cross_val_score(classifier, X_test, Y_test, scoring='accuracy', cv = 10)
print(train_scores.mean())
print(test_scores.mean())
cm=confusion_matrix(Y_train,classifier.predict(X_train))
print(cm)

0.6482284505552618
0.6921921921921921
[[396  11   0]
 [159  18   0]
 [ 25   5   0]]

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)